@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

input {
    position: fixed;
    opacity: 0;
}
label {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
label::before {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 38, 57, 0.75);
    content: "";
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 3;
    width: 2em;
    height: 2em;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger::before, label .burger .bar, label .burger::after {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 12%;
    background: white;
    content: "";
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger .bar {
    top: 44%;
}
label .burger::before {
    top: 0;
    transform-origin: top left;
}
label .burger::after {
    bottom: 0;
    transform-origin: bottom left;
}
input:focus + label .burger, label:hover .burger {
    opacity: 0.75;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    transform: translate3d(0, 0, 0);
   /* material acceleration */
    transform: translateX(-100%);
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
nav::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 25em;
    background: #d62956;
    content: "";
    transform: skewX(15deg) translateX(-100%);
    transform-origin: bottom left;
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (min-width: 40em) {
    nav::before {
        width: 40em;
   }
}
nav a {
    margin: 0.5em 0;
    padding: 0.2em 2em;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform: translateX(-100%);
    transition: color 0.15s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
nav a:nth-child(1) {
    transition-delay: 0s, 100ms;
}
nav a:nth-child(2) {
    transition-delay: 0s, 150ms;
}
nav a:nth-child(3) {
    transition-delay: 0s, 200ms;
}
nav a:nth-child(4) {
    transition-delay: 0s, 250ms;
}
nav a:nth-child(5) {
    transition-delay: 0s, 300ms;
}
nav a:nth-child(6) {
    transition-delay: 0s, 350ms;
}
nav a:hover, nav a:focus {
    color: black;
}
main {
    overflow: hidden;
}
main .content1 {
    transform: translate3d(0, 0, 0);
   /* material acceleration */
    will-change: transform, filter;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
[id="navcheck"]:checked + label::before {
    opacity: 1;
    pointer-events: auto;
}
[id="navcheck"]:checked + label .burger::before, [id="navcheck"]:checked + label .burger::after {
    width: 141.42%;
}
[id="navcheck"]:checked + label .burger::before {
    transform: rotate(45deg) translateY(-50%);
}
[id="navcheck"]:checked + label .burger::after {
    transform: rotate(-45deg) translateY(50%);
}
[id="navcheck"]:checked + label .burger .bar {
    transform: scale(0.1);
}
[id="navcheck"]:checked ~ nav {
    transform: translateX(0);
}
[id="navcheck"]:checked ~ nav::before {
    transform: skewX(15deg) translateX(0);
}
[id="navcheck"]:checked ~ nav a {
    transform: translateX(0);
}
[id="navcheck"]:checked ~ main .content1 {
    transform: translateX(3em);
    transform-origin: left center;
    filter: blur(2px);
}
/* helper */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* misc */
body {
    background-image: url(pyramid.jpg);
    background-repeat: no-repeat;
    background-size:1890px 600px;
    overflow-x: hidden;
    color: rgb(245, 248, 248);
    font: 1.1em/1.4 "lato";
}
main{
    padding: 8% 0;
}
article {
    width: 20%;
    margin-left: 100px;
    font-size: 1.3em;
    margin-top: -50px;
}
@media (min-width: 60em) {
    article {
        width: 50%;
   }
}
@font-face {
    font-family: 'BEYNO';
    src: url("BEYNO.ttf");
    font-style: normal;
    font-weight: 10;
    }
h1 {
    font: 4.99em/0.3 "BEYNO";
    font-weight: 600;
}
h4 {
    color: rgb(245, 247, 247);
    letter-spacing: 15px;
    word-spacing: 1px;
}

/* dev greetings for you */

@import url(https://fonts.googleapis.com/css?family=Roboto);
/*Just the background stuff */
span.s1 {
  position: absolute;
  top: 0;
  font-size: 10rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #3C4447;
}

span.s2 {
  font-weight: 800;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10rem;
  text-transform: uppercase;
  color: #3C4447;
}

/*My hum... body.. yeah.. */
body {
  background-color: #353B3F;
  font-family: "Roboto", sans-serif;
}

/* The card */
.card1 {
  position: relative;
  height: 450px;
  width: 1000px;
  border-radius: 15px;
  margin: 90px auto;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

/* Image on the left side */
.thumbnail {
  float: left;
  position: relative;
  left: 30px;
  top: -40px;
  border-radius: 15px;
  height: 320px;
  width: 530px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

/*object-fit: cover; */
/*object-position: center; */
img.left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Right side of the card */
.right {
  margin-left: 590px;
  margin-right: 20px;
}
@font-face {
    font-family: 'BEYNO';
    src: url("BEYNO.ttf");
    font-style: normal;
    font-weight: 500;
    }
.gre{
    font: 10em "BEYNO";
    font-weight: 50;
    padding-top: 30px;
    font-size: 3.5rem;
    color: #4B4B4B;
    letter-spacing: 6px;
}

.author {
  background-color: #9ECAFF;
  height: 30px;
  width: 110px;
  border-radius: 20px;
}

.author > img {
  padding-top: 5px;
  margin-left: 10px;
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

h2 {
  padding-top: 8px;
  margin-right: 6px;
  text-align: right;
  font-size: 0.8rem;
  color: #353B3F;
}

.separator {
  margin-top: 10px;
  border: 1px solid #C3C3C3;
}

p {
  text-align: justify;
  padding-top: 10px;
  font-size: 0.95rem;
  line-height: 150%;
  color: #4B4B4B;
}

/* DATE of release */
h5 {
  position: absolute;
  left: 30px;
  bottom: -120px;
  font-size: 6rem;
  color: #C3C3C3;
}

h6 {
  position: absolute;
  left: 30px;
  bottom: -55px;
  font-size: 2rem;
  color: #C3C3C3;
}

/* Those futur buttons */
ul {
  margin-left: 250px;
}

li {
  display: inline;
  list-style: none;
  padding-right: 40px;
  color: #7B7B7B;
}

/* Floating action button */
.fab {
  position: absolute;
  right: 50px;
  bottom: -40px;
  box-sizing: border-box;
  padding-top: 18px;
  background-color: #1875D0;
  width: 100px;
  height: 100px;
  color: white;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}

/* for the hackathon filed */

/*PEN STYLES*/
* {
    box-sizing: border-box;
  }
  
  .hack{
      font-size: 90px;
      text-align: center;
      padding-top: 70px;
      padding-bottom: 40px;
      letter-spacing: 40px;
  }
  .box{
    position: relative;
    height: 700px;
    width: 1200px;
    border-radius: 15px;
    margin: 90px auto;
    padding: 60px;
    background-image: url(comman.jpg);
    background-color: rgb(89, 92, 95);
    -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  }
  .blog-card {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: rgb(255, 255, 255);
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 20px;
    overflow: hidden;
    z-index: 0;
  }
  .blog-card a {
    color: inherit;
  }
  .blog-card a:hover {
    color: #5ad67d;
  }
  .blog-card:hover .photo {
    -webkit-transform: scale(1.3) rotate(3deg);
            transform: scale(1.3) rotate(3deg);
  }
  .blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }
  .blog-card .details,
  .blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }
  .blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    -webkit-transition: left .2s;
    transition: left .2s;
    background: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
    font-size: .9rem;
  }
  .blog-card .details a {
    -webkit-text-decoration: dotted underline;
            text-decoration: dotted underline;
  }
  .blog-card .details ul li {
    display: inline-block;
  }
  .blog-card .details .author:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f007";
  }
  .blog-card .details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f133";
  }
  .blog-card .details .tags ul:before {
    font-family: FontAwesome;
    content: "\f02b";
    margin-right: 10px;
  }
  .blog-card .details .tags li {
    margin-right: 2px;
  }
  .blog-card .details .tags li:first-child {
    margin-left: -4px;
  }
  .blog-card .description {
    padding: 1rem;
    background: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
  }
  .blog-card .description .hh,
  .blog-card .description .hhh {
    font-family: Poppins, sans-serif;
  }
  .blog-card .description .hh {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
    color: darkmagenta;
  }
  .blog-card .description .hhh {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #050505;
    margin-top: 5px;
  }
  .blog-card .description .read-more {
    text-align: right;
  }
  .blog-card .description .read-more a {
    color: #5ad67d;
    display: inline-block;
    position: relative;
  }
  .blog-card .description .read-more a:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    -webkit-transition: margin .3s, opacity .3s;
    transition: margin .3s, opacity .3s;
  }
  .blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
  }
  .blog-card p {
    position: relative;
    margin: 1rem 0 0;
  }
  .blog-card p:first-of-type {
    margin-top: 1.25rem;
  }
  .blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #5ad67d;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
  }
  .blog-card:hover .details {
    left: 0%;
  }
  @media (min-width: 640px) {
    .blog-card {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      max-width: 800px;
    }
    .blog-card .meta {
      flex-basis: 40%;
      height: auto;
    }
    .blog-card .description {
      flex-basis: 60%;
    }
    .blog-card .description:before {
      -webkit-transform: skewX(-3deg);
              transform: skewX(-3deg);
      content: "";
      background: rgb(255, 255, 255);
      width: 30px;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
    .blog-card.alt {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
              flex-direction: row-reverse;
    }
    .blog-card.alt .description:before {
      left: inherit;
      right: -10px;
      -webkit-transform: skew(3deg);
              transform: skew(3deg);
    }
    .blog-card.alt .details {
      padding-left: 25px;
    }
  }
  /* ------------------------- for the courses part ------------------------- */
  .others{
    text-align: center;
    font-size: 70px;
    padding-top: 40px;
  }
  .ai{
    text-align: center;
    padding-top: 20px;
  }
  .co{
    font-size: 90px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: -10px;
    letter-spacing: 50px;
}
  .container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card {
    position: relative;
    margin-left: 85px;
    border-radius: 15px;
}

.container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
    border-radius: 15px;
}

.container .card:nth-child(1) .icon {
    background: #e07768;
}

.container .card:nth-child(2) .icon {
    background: #6eadd4;
}

.container .card:nth-child(3) .icon {
    background: #4aada9;
}


.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
    border-radius: 15px;
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content i{
    max-width: 100px;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.container a {
    text-decoration: none;
    color: #414141;
}
/* -------- for the footer--------- */
.f{
    position: relative;
    height: 700px;
    width: 1200px;
    border-radius: 15px;
    margin: 90px auto;
    padding: 60px;
    background-color: rgb(89, 92, 95);
  }
.foot {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-family: sans-serif;
    background-color: #050505; 
}
/* --------------------end footer-------------------- */

.new_footer_top {
    padding: 120px 0px 130px;
    position: absolute;
    background-color: rgba(240, 122, 67, 0.658);
    width: 50%;
    z-index: -1;

}
.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 1250px;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 6s linear infinite;
    animation: myfirst 6s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 6s linear infinite;
    animation: myfirst 6s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
.main_footer{
    text-align: center;
    background-attachment: fixed;
    z-index: 10;
}
.foot_name{
    color: white;
}
.copyRight{
    font-family: cursive;
    color: black;
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/
